<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jules.ipam.dao.IpAddressDAO">

    <cache/>

    <resultMap id="ipAddressResultMap" type="com.jules.ipam.vo.IpAddressVO">
        <id property="id" column="id"/>
        <result property="ipAddress" column="ip_address"/>
        <result property="status" column="status"/>
        <result property="networkId" column="network_id"/>
        <result property="userId" column="user_id"/>
    </resultMap>

    <insert id="insertIpAddressList" parameterType="java.util.List" flushCache="true">
        INSERT INTO ip_address (ip_address, status, network_id)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.ipAddress}, #{item.status}, #{item.networkId})
        </foreach>
    </insert>

    <select id="findByIpAddress" parameterType="string" resultMap="ipAddressResultMap">
        SELECT id, ip_address, status, network_id
        FROM ip_address
        WHERE ip_address = #{ipAddress}
        FOR UPDATE
    </select>

    <update id="updateIpStatus">
        UPDATE ip_address
        SET status = #{status}
        WHERE ip_address = #{ipAddress}
    </update>

    <select id="searchIps" parameterType="com.jules.ipam.dto.SearchCriteriaDTO" resultMap="ipAddressResultMap">
        SELECT ip.id, ip.ip_address, ip.status, ip.network_id, a.user_id
        FROM ip_address ip
        LEFT JOIN allocation a ON ip.id = a.ip_id
        <where>
            <if test="ipAddress != null and ipAddress != ''">
                AND ip.ip_address LIKE CONCAT('%', #{ipAddress}, '%')
            </if>
            <if test="status != null and status != ''">
                AND ip.status = #{status}
            </if>
            <if test="userId != null and userId != ''">
                AND a.user_id = #{userId}
            </if>
        </where>
        ORDER BY ip.id
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="countIps" parameterType="com.jules.ipam.dto.SearchCriteriaDTO" resultType="int">
        SELECT COUNT(DISTINCT ip.id)
        FROM ip_address ip
        LEFT JOIN allocation a ON ip.id = a.ip_id
        <where>
            <if test="ipAddress != null and ipAddress != ''">
                AND ip.ip_address LIKE CONCAT('%', #{ipAddress}, '%')
            </if>
            <if test="status != null and status != ''">
                AND ip.status = #{status}
            </if>
            <if test="userId != null and userId != ''">
                AND a.user_id = #{userId}
            </if>
        </where>
    </select>

</mapper>
